<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.bap.traning.simplechat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".BaseApp_"
        android:allowBackup="true"
        android:icon="@drawable/icon_02"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">
        <activity
            android:name=".ui.SplashActivity_"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoginActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SignUpActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ChatTalksActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.FullScreenImageActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AddGroupChatActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SearchGroupChatActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SharingMessageActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CallActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.NetworkActivity_"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.ChatService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.CommentActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CallBusyActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AddNewsActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ChooseLanguageActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AboutActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.UpdateProfileActivity_"
            android:screenOrientation="portrait" />
    </application>

</manifest>